<!DOCTYPE html>
<html>
<head>
  <title>Recherche d'employés par nombre de mails</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

  <table class="barre" width="100%">
    <tr>
      <td width=80 align="center">
        <img src="https://cdn1.iconfinder.com/data/icons/gradient-android-apps/64/1-22-128.png" height=40></img>
        <br>
        <a href="/appli_visualisation">
          <span>Accueil</span>
        </a>
      </td>
      <td align="center">
        <font style="font-size:20px"><h1>Application de visualisation de données Enron</h1></font>
      </td>
    </tr>
  </table>
  
  <h2 align="center">Recherche d'employés par nombre de mails</h2>

  <form method="post">
    {% csrf_token %}
    <label for="date_debut">Date de début :</label>
    <input type="date" name="date_debut" required>
    <br>
    <label for="date_fin">Date de fin :</label>
    <input type="date" name="date_fin" required>
    <br>
    <label for="min_emails">Nombre d'e-mails :</label>
    <input type="number" name="x" min="0">
    <br>
    <label for="min_or_max">Nombre d'e-mails minimum ou maximum ?</label>
    <input type="checkbox" name="min_or_max" value="min"> Minimum
    <input type="checkbox" name="min_or_max" value="max"> Maximum
    <br>
    <label for="interne">Interne :</label>
    <input type="checkbox" name="interne" value="true">
    <br>
    <label for="externe">Externe :</label>
    <input type="checkbox" name="externe" value="true">
    <br>
    <button type="submit">Rechercher</button>
  </form>

</body>
</html>
