<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages par Sujet</title>
</head>
<body>
    <table class="barre" width="100%">
        <tr>
          <td width=80 align="center">
            <img src="https://cdn1.iconfinder.com/data/icons/gradient-android-apps/64/1-22-128.png" height=40></img>
            <br>
            <a href="/appli_visualisation">
              <span>Accueil</span>
            </a>
          </td>
          <td align="center">
            <font style="font-size:20px"><h1>Application de visualisation de données Enron</h1></font>
          </td>
        </tr>
    </table>
    <h1>Messages par Sujet</h1>
    <ul>
        {% for subject in subjects %}
            <li>
                <h2>{{ subject.subject_name }}</h2>
                <ul>
                    {% for message in subject.message_set.all %}
                        <li>
                            <a href="{% url 'message_detail' message.id %}">
                                {{ message.send_date }} - {{ message.sender_email.email_address_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
