<!DOCTYPE html>
<html>
<head>
  <title>Application de visualisation de données Enron</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    /* ... styles pour la mise en forme de la page ... */
    .marge1 {
      margin-left: 1.8em;
    }
    .marge2 {
      margin-left: 1.5em;
    }
  </style>
</head>

<body>
  <table class="barre" width="100%">
    <tr>
      <td width=80 align="center">
        <img src="https://cdn1.iconfinder.com/data/icons/gradient-android-apps/64/1-22-128.png" height=40></img>
        <br>
        <a href="/appli_visualisation">
          <span>Accueil</span>
        </a>
      </td>
      <td align="center">
        <font style="font-size:20px"><h1>Application de visualisation de données Enron</h1></font>
      </td>
    </tr>
  </table>
  <br><br><br><br><br><br>
  <table class="barre" width="100%">
    <tr>
      <td align="center">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" align="center">
            <font style="font-size:30px"><h1>Potato</h1></font>
        </a>
      </td>
    </tr>
  </table>

</body>
</html>